input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.paging-nav {
    text-align: right;
    padding-top: 2px;
}

.paging-nav a {
    margin: auto 0px;
    text-decoration: none;
    display: inline-block;
    padding: 1px 7px;
    background: white;
    border-style: solid;
    border-color: #eeeeee;
    color: #187ed5;
    border-radius: 3px;
}
	 
.paging-nav .selected-page {
    background: #187ed5;
    color: white;
    font-weight: bold;
}

.sinPaddingCentrado{
    padding: 2px !important;
    align-items: center !important;
    vertical-align: middle !important;
}